@charset "UTF-8";
/* CSS Document */
.wrapper_follow {
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 0 0 0;
	clear: both;
	position: relative;
	z-index: 10;
	background-color: #294861;
}

.wrapper_follow .inner {
	background-position:left 50% bottom 0 !important;
	background-repeat:no-repeat;
	background-attachment:fixed;
    display: table;
    width: 100%;
	margin: 0 auto;
	min-height:475px;
	height: 475px;
	overflow: hidden;
	
}

.wrapper_follow .wrapper__valign {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color:#fff;
}

.wrapper_follow .wrapper__valign .ttlXl {
  color:#fff !important;
  margin-bottom:20px;
}

.wrapper_follow .c-glid {
	clear: both;
	display: block;
	margin-top: 0;
	margin-right: 0 !important;
	margin-left: 0;
	margin-bottom: 0px;
	position:relative;
	/zoom: 1;/* for IE6,7 */
}

.wrapper_follow .sns-sections {
	width:450px;
	margin:0 auto;
	position: relative;
	margin-bottom:20px;
}

.sns-sections .c-glid__item--3 {
	min-height: 1px;
	margin-top: 0;
	padding-right: 0 !important;
	margin-left: 0;
	margin-bottom: 0;
	position: relative;
	float: left;
	display: inline;  /* IE6 fix */
	text-align:center;
	font-size:14px;
}

.sns-sections .c-glid__item--3 span {
	display:block;
	text-align:center;
	margin-bottom:8px;
}

.sns-sections .c-glid__item--3 a {
	color:#fff;
}

.sns-sections .c-glid__item--3 a:hover {
	text-decoration: underline;
	color:#fff;
}



